:root {
  // brand colors
  --c-brand: #3e78af;
  --c-brand-light: #3e78af;

  // custom container colors
  --c-tip: #3e78af;
}

html.dark {
  // brand colors
  --c-brand: #3e78af;
  --c-brand-light: #3e78af;

  // custom container colors
  --c-tip: #3e78af;
}
